body 
{
    margin: 0px 0px 0px 0px;
    height:768px;
}

@font-face {
    font-family: menu_font;
    src: local(menu_font), url('Fonts/Circular.ttf') format('opentype');
}

#titleBar 
{
    font-family: menu_font;
    background: url(../Images/iPad/title.png);
    background-repeat: no-repeat;
    background-size: 1024px 139px;
}

#container 
{
    background: url(../Images/iPad/menuBackground.png);
    background-repeat: no-repeat;
    background-size: 1024px 504px;
    background-position: 0px 131px;
    background-color: #a8a8a8;
}

.semiTransparentBox 
{
    color: White;
    background-color: RGBA(0,0,0,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

.okButton 
{
    background: url(../Images/iPad/buttonOK@2x.png);
    background-repeat: no-repeat;
    background-size: 130px 62px;
    background-position: 0px 0px;
}

.okButtonSelected
{
    background: url(../Images/iPad/buttonOK@2x.png);
    background-repeat: no-repeat;
    background-size: 130px 62px;
    background-position: -63px 0px;
}

#patternPanel
{
    
}

#contentPanel
{
    background-color:White;
}

#titleLabel
{
    background-color: #d8d8d8 !important;
    background: url(../Images/iPad/headerBullet@2x.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 22px 24px;
    line-height:36px;
    font-family: menu_font;
    color: #00014d;
    padding-left: 45px;
    padding-top:5px;
    font-size: 30px;
}

#yearLabel 
{
    background-color: #00024f !important;
    line-height:25px;
    font-family: menu_font;
    color: White;
    font-size: 25px;
    text-align: center;
    padding-top:10px;
}

#bottomBar 
{
    background: -webkit-linear-gradient(top,  #8f8f8f 0%,#cbcbcb 9%,#8f8f8f 92%);
}

.imageBox 
{
    background-color: White;
}

.imageBoxLoading
{
    background-image: url(../Images/spinner@2x.gif);
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

.buttonBack 
{
    width:123px;
    height:89px;
    background: url(../Images/iPad/buttonBack@2x.png);
    background-repeat: no-repeat;
    background-size: 256px 89px;    
    background-position: 2px -5px;
   /* background-color: #00024f;*/
    float:left;
}

.buttonBackSelected
{
    background-position: -130px -5px;
}

.buttonHome 
{
    width:123px;
    height:89px;
    margin-left:39px;
    background: url(../Images/iPad/buttonHome@2x.png);
    background-repeat: no-repeat;
    background-size: 256px 89px;
    background-position: 7px -5px;
    /*background-color: #000000;*/
    float:left;
}

.buttonHomeSelected 
{
    background-position: -127px -5px;
}

.buttonLogout
{
    width:120px;
    height:74px;
    margin-left:39px;
    background: url(../Images/iPad/buttonLogout@2x.png);
    background-repeat: no-repeat;
    background-size: 242px 74px;
    /*background-color: #000000;*/
    float:left;
}

.buttonLogoutSelected
{
    background-position: -120px 0px;
}

.menuPanel 
{
    margin-top:80px;
    background-color:rgba(0,0,0,0.65);
}
#menuTab
{
    height: 282px;
    width: 66px;
    background: url(../Images/iPad/menuTab.png);
    background-repeat: no-repeat;
    background-size: 66px 282px;
   /* background-position: 13px 5px;*/
}

.menuGroup 
{
    font-family: menu_font;
    color: White;
    font-size: 30px;
    height: 35px;
    width: 830px;/*880*/
    line-height: 35px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #6B6B6B), color-stop(1, #282828));
}

.menuItem 
{
    font-family: menu_font;
    color: White;
    font-size: 25px;
    height: 28px;
    width: 750px;
    line-height: 40px;
    border-bottom: 1px solid white;
    background: url(../Images/iPad/menuBullet.png);
    background-repeat: no-repeat;
    background-size: 22px 28px;
    background-position: 13px 5px;
    padding-top:5px;
    padding-left:50px;
    padding-bottom:8px;
    cursor: pointer;
}

.menuItemSelected
{
    background: url(../Images/iPad/menuBulletSelected@2x.png);
    background-repeat: no-repeat;
    background-size: 38px 37px;
    background-position: 3px 1px;
    color: #ff9000;
}

.buttonDetail
{
    background: url(../Images/buttonDetail@2x.png);
    background-repeat: no-repeat;
    background-size: 262px 50px;
}

.buttonDetailSelected
{
    background-position: -131px 0px;
}

.buttonCompare
{
    background: url(../Images/buttonCompare@2x.png);
    background-repeat: no-repeat;
    background-size: 262px 50px;
}

.buttonCompareSelected
{
    background-position: -131px 0px;
}

.buttonEmpty
{
    background: url(../Images/buttonEmpty@2x.png);
    background-repeat: no-repeat;
    background-size: 154px 50px;
    color: White;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    margin-left: -3px;
}

.buttonEmptySelected
{
    background-position: -77px 0px;
}