body 
{
    margin: 0px 0px 0px 0px;
    height:460px;
}

@font-face {
    font-family: menu_font;
    src: local(menu_font), url('Fonts/Circular.ttf') format('opentype');
}

#titleBar 
{
    font-family: menu_font;
    background: url(../Images/title@2x.png);
    background-repeat: no-repeat;
    background-size: 320px 50px;
}

#container 
{
    background: url(../Images/menuBackground@2x.png);
    background-repeat: no-repeat;
    background-size: 320px 306px;
    background-position: 0px 40px;
    background-color: #a8a8a8;
}

.semiTransparentBox 
{
    color: White;
    background-color: RGBA(0,0,0,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

.okButton 
{
    background: url(../Images/buttonOK@2x.png);
    background-repeat: no-repeat;
    background-size: 66px 31px;
    background-position: 0px 0px;
}

.okButtonSelected
{
    background: url(../Images/buttonOK@2x.png);
    background-repeat: no-repeat;
    background-size: 66px 31px;
    background-position: -33px 0px;
}

#patternPanel
{
    
}

#contentPanel
{
    background-color:White;
}

#titleLabel
{
    background-color: #d8d8d8 !important;
    background: url(../Images/headerBullet@2x.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 10px 12px;
    line-height:36px;
    font-family: menu_font;
    color: #00014d;
    padding-left: 23px;
    font-size: 21px;
}

#yearLabel 
{
    background-color: #00024f !important;
    line-height:23px;
    font-family: menu_font;
    color: White;
    font-size: 16px;
    text-align: center;
}

#bottomBar 
{
    background: -webkit-linear-gradient(top,  #8f8f8f 0%,#cbcbcb 9%,#8f8f8f 92%);
}

.imageBox 
{
    background-color: White;
}

.imageBoxLoading
{
    background-image: url(../Images/spinner@2x.gif);
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

.buttonBack 
{
    width:100px;
    height:42px;
    background: url(../Images/buttonBack@2x.png);
    background-repeat: no-repeat;
    background-size: 200px 42px;    
    background-color: #000000;
    float:left;
}

.buttonBackSelected
{
    background-position: -100px 0px;
}

.buttonHome 
{
    width:120px;
    height:42px;
    background: url(../Images/buttonHome@2x.png);
    background-repeat: no-repeat;
    background-size: 240px 42px;
    background-color: #000000;
    float:left;
}

.buttonHomeSelected 
{
    background-position: -120px 0px;
}

.buttonLogout
{
    width:100px;
    height:42px;
    background: url(../Images/buttonLogout@2x.png);
    background-repeat: no-repeat;
    background-size: 200px 42px;
    background-color: #000000;
    float:left;
}

.buttonLogoutSelected
{
    background-position: -100px 0px;
}

.menuPanel 
{
    background-color:rgba(0,0,0,0.5);
}

.menuGroup 
{
    font-family: menu_font;
    color: White;
    font-size: 21px;
    height: 28px;
    width: 320px;
    line-height: 32px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #6B6B6B), color-stop(1, #282828));
}

.menuItem 
{
    font-family: menu_font;
    color: White;
    font-size: 20px;
    height: 32px;
    width: 285px;
    line-height: 36px;
    border-bottom: 1px solid white;
    background: url(../Images/menuBullet@2x.png);
    background-repeat: no-repeat;
    background-size: 16px 24px;
    background-position: 10px 4px;
    padding-left:35px;
    cursor: pointer;
}

.menuItemSelected
{
    background: url(../Images/menuBulletSelected@2x.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 4px 3px;
    color: #ff9000;
}

.buttonDetail
{
    background: url(../Images/buttonDetail@2x.png);
    background-repeat: no-repeat;
    background-size: 262px 50px;
}

.buttonDetailSelected
{
    background-position: -131px 0px;
}

.buttonCompare
{
    background: url(../Images/buttonCompare@2x.png);
    background-repeat: no-repeat;
    background-size: 262px 50px;
}

.buttonCompareSelected
{
    background-position: -131px 0px;
}

.buttonEmpty
{
    background: url(../Images/buttonEmpty@2x.png);
    background-repeat: no-repeat;
    background-size: 154px 50px;
    color: White;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    margin-left: -3px;
}

.buttonEmptySelected
{
    background-position: -77px 0px;
}